@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        HTML 5 Local storage test.
    </p>
    <a asp-controller="localstoragetest" asp-action="index" class="btn btn-primary">Local Storage Test</a>
    <a asp-controller="user" asp-action="index" class="btn btn-primary">User Wise Local Storage</a>
</div>
